.link-btn {
  background-color: #ffffff1a !important;
  backdrop-filter: blur(2.5rem);
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  border-right: 1px solid rgba(255, 255, 255, 0.1) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
  box-shadow: 0 2.5rem 4.5rem rgba(0, 0, 0, 0.1) !important;
  outline: none;
}
