.p-avatar {
  transition: transform 0.33s !important;
}

.p-avatar:hover {
  transform: scale(1.2);
}
.p-avatar {
  transition: transform 0.33s !important;
}

.p-avatar:hover {
  transform: scale(1.2);
}

.header{
  width: 100%;
  height: 100px;
  display: inline-block;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 50px;
}

.header input{
  font-size: 20px;
  display: block;
  margin-top: 60px;
  width: 50%;
  float: left;
  border: 0px solid #666;
  /* width: 8em; */
  /* height: 2em; */
  border-radius: 2em;
  text-align: center;
}

.title{
  height: 100px;
  width: 50%;
  float: left;
  color: #096387;
  display: block;
  line-height: 100px;
  text-align: center;
}

.title h1{
  letter-spacing: 5px;
}


@media only screen and (max-width: 700px){
  /*Tablets [601px -> 1200px]*/
  .title{
    width: 100%;
    line-height: 0;
    height: 70px;
  }

  .header input{
    width: 50%;
    margin-top: 0;
    margin-left: 25%;
  }
}