.p-button {
  transition: transform 0.33s !important;
  border-radius: 40px;
  width: 100%;
}

.p-button:hover {
  transform: scale(1.02);
}

.p-button.p-button-outlined:not(a):not(.p-disabled).unknown:hover {
  background-color: #333;
}

.p-button.p-button-outlined span,
.p-button.p-button-outlined i {
  pointer-events: none;
}

.p-button-outlined:hover > i {
  color: #fff;
}

.p-button-outlined:hover > span {
  color: #fff;
}

.p-button-outlined span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
