.p-button {
  transition: transform 0.33s !important;
  border-radius: 40px;
  width: 100%;
}

.p-button:hover {
  transform: scale(1.02);
}

.p-button.p-button-outlined:not(a):not(.p-disabled).unknown:hover {
  background-color: #333;
}

.p-button.p-button-outlined span,
.p-button.p-button-outlined .buttonIcon {
  pointer-events: none;
}

.p-button-outlined:hover > .buttonIcon {
  color: #fff;
}

.p-button-outlined:hover > span {
  color: #fff;
}

.buttonIcon {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.p-button-outlined span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.w-70 {
  width: 70%;
  max-width: 45rem;
}

@media screen and (max-width: 768px) {
  .w-70 {
    width: 90%;
  }
}
