.p-button {
  transition: transform 0.33s !important;
  border-radius: 40px;
}

.p-button:hover {
  transform: scale(1.02);
}

.p-button.p-button-outlined:not(a):not(.p-disabled).link:hover,
.p-button.p-button-outlined:not(a):not(.p-disabled).unknown:hover {
  background-color: #333;
}

.p-button.p-button-outlined:not(a):not(.p-disabled).twitter:hover {
  background-color: #1da1f2;
}

.p-button.p-button-outlined:not(a):not(.p-disabled).youtube:hover {
  background-color: #ff0000;
}

.p-button.p-button-outlined:not(a):not(.p-disabled).github:hover {
  background-color: #211f1f;
}

.p-button.p-button-outlined:not(a):not(.p-disabled).linkedin:hover {
  background-color: #0077b5;
}

.p-button.p-button-outlined:not(a):not(.p-disabled).instagram:hover {
  background-color: #e4405f;
}

.p-button.p-button-outlined:not(a):not(.p-disabled).envelope:hover {
  background-color: #5F6368;
}

.p-button-outlined:hover > i {
  color: #fff;
}

.p-button-outlined:hover > span {
  color: #fff;
}
