.p-timeline .custom-marker {
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 50%;
  z-index: 1;
}

.p-timeline .p-timeline-event-content,
.p-timeline .p-timeline-event-opposite {
  line-height: 1;
}

.p-card {
  border-radius: 1rem;
}

.p-timeline {
  width: 60rem;
}
.shadow-2{
  border-radius: 50px;
}

@media only screen and (max-width: 960px) {
  .p-timeline-event {
    display: inline;
  }

  .p-timeline {
    width: 100%;
  }

  .p-card-title,
  .p-card-subtitle,
  .p-card-content {
    text-align: center;
  }
}
