.p-timeline .custom-marker {
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 50%;
  z-index: 1;
}

.p-timeline .p-timeline-event-content,
.p-timeline .p-timeline-event-opposite {
  line-height: 1;
}

.p-card {
  padding-top: 0.6rem;
}

.p-timeline-centered .p-timeline-event {
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.p-timeline-centered .p-timeline-event .p-card {
  text-align: center;
}

@media only screen and (max-width: 960px) {
  .p-timeline-event {
    display: inline;
  }

  .p-card-title,
  .p-card-subtitle,
  .p-card-content {
    text-align: center;
  }
}
