.p-menubar-button {
  display: none !important;
}

.p-menubar-root-list {
  display: flex;
  justify-content: center;
}

.p-menubar {
  flex-wrap: wrap;
  justify-content: space-between;
}

.p-menubar-end {
  margin-left: 12rem !important;
}

@media screen and (max-width: 550px) {
  .p-menubar-end {
    margin-left: auto !important;
  }
}

@media screen and (max-width: 360px) {
  .p-menubar-start {
    width: 60% !important;
  }
}

.linkfree-icon {
  background-image: url('../images/linkfree.ico');
  width: 2rem;
  height: 2rem;
  background-size: 2rem 2rem;
}

.p-menuitem-text {
  font-weight: 600;
  font-size: 20px;
}
