.scrollToTop-btn {
  position: fixed;
  cursor: pointer;
  bottom: 7%;
  right: 4%;
  z-index: 100;
  border-radius: 56%;
  background: white;
}

@media screen and (hover: hover) {
  .scrollToTop-btn:hover {
    background: black;
    border: 2px black solid;
    transition: all 0.3s ease-in;
  }
}
