html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.vertical-timeline::before {
  background: rgb(75, 69, 69) !important;
}

.vertical-timeline-element-content {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

@media only screen and (max-width: 1300px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
