html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.sortIcon {
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
