@import "./onedark.css";

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

code.language-unknown::before,
code.language-unknown::after {
  content: "";
}

/* .scroll-to-top-button {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  outline: none;
  transition: bottom 0.3s ease;
}

.scroll-to-top-button.visible {
  display: block;
} */


@layer base {
  body {
    @apply dark:bg-primary-high dark:text-white bg-white text-black;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply dark:text-white;
  }
  th {
    @apply dark:text-white;
  }
  td {
    @apply dark:text-primary-low;
  }
  code {
    @apply dark:text-primary-low;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
