name: Testimonial

on:
  workflow_dispatch:
  issues:
    types: [opened, edited]

jobs:
  create-testimonial:
    if: contains(github.event.issue.labels.*.name, 'testimonial')
    runs-on: ubuntu-latest
    name: Create Testimonial
    steps:
      - uses: actions/checkout@v3
      - uses: stefanbuck/github-issue-parser@v3
        id: issue-parser
        with:
          template-path: .github/ISSUE_TEMPLATE/testimonial.yml
          body: ${{ github.event.issue.body }}
      - name: current date
        id: date
        uses: Kaven-Universe/github-action-current-date-time@v1
        with:
          format: "YYYY-MM-DD"
      - name: create folder
        run: |
          mkdir -p data/${{ steps.issue-parser.outputs.issueparser_name }}/testimonials
      - uses: finnp/create-file-action@master
        env:
          FILE_NAME: "data/${{ steps.issue-parser.outputs.issueparser_name }}/testimonials/${{ github.actor }}.json"
          FILE_DATA: '{"title": "${{ steps.issue-parser.outputs.issueparser_title }}", "description": "${{ steps.issue-parser.outputs.issueparser_description}}", "date": "${{ steps.date.outputs.time }}"}'
      - name: validate JSON
        run: jq . "data/${{ steps.issue-parser.outputs.issueparser_name }}/testimonials/${{ github.actor }}.json"
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Testimonial for '${{ steps.issue-parser.outputs.issueparser_name }}' by '${{ github.actor }}'"
      - name: Close Issue
        uses: YiiGuxing/close-issue@v2.1.0
        with:
          comment: |
            Testimonial added for @${{ steps.issue-parser.outputs.issueparser_name }}. Thank you for your contribution! @${{ steps.issue-parser.outputs.issueparser_name }} if you wish to add it your LinkFree profile please follow the instructions in the docs https://linkfree.eddiehub.io/docs/how-to-guides/testimonials
