name: Deploy PR to Preview
env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

on:
  workflow_dispatch:
  pull_request:
    branches-ignore:
      - revert-logger
    paths:
      - "**.js"

jobs:
  deploy:
    runs-on: ubuntu-latest
    outputs:
      url: ${{ steps.deploy-preview.outputs.url }}
    steps:
      - uses: actions/checkout@v3
      - name: install Vercel CLI
        run: npm install --global vercel@latest
      - name: pull Vercel environment information
        run: vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_TOKEN }}
      - name: build project artifacts
        run: vercel build --token=${{ secrets.VERCEL_TOKEN }}
      - name: deploy preview
        id: deploy-preview
        run: |
          du --inodes -d 5 .vercel/output
          ls -l .vercel/output/functions
          preview_url="$(vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }})"
          echo "url=$preview_url" >> $GITHUB_OUTPUT
          echo "deployed to $preview_url"

  load-data:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - name: load json files
        run: curl -L -f ${{ needs.deploy.outputs.url }}/api/system/reload?secret=${{ secrets.BIODROP_API_SECRET_PREVIEW }}
      - name: load testimonial files
        run: curl -L -f ${{ needs.deploy.outputs.url }}/api/system/testimonials-forms?secret=${{ secrets.BIODROP_API_SECRET_PREVIEW }}
