name: Deploy to Vercel
env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
on:
  workflow_dispatch:
  release:
    types: [published]
  push:
    # this will deploy data files only when no release is created
    branches:
      - main
    paths:
      - "data/**"
      - "pages/docs/**"

jobs:
  deploy:
    if: github.repository == 'EddieHubCommunity/LinkFree'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: install Vercel CLI
        run: npm install --global vercel@latest
      - name: pull Vercel environment information
        run: vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}
      - name: build project artifacts
        run: vercel build --prod --token=${{ secrets.VERCEL_TOKEN }}
      - name: deploy project artifacts to Vercel
        run: |
          du --inodes -d 5 .vercel/output
          vercel deploy --prebuilt --prod --token=${{ secrets.VERCEL_TOKEN }}

  load-data:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - uses: actions/checkout@v3
      - uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            data:
              - 'data/**'
      - name: load json files
        if: steps.changes.outputs.data == 'true'
        run: curl -f https://linkfree.io/api/system/reload?secret=${{ secrets.LINKFREE_API_SECRET }}
